/* styles.css */

/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #121212;
    color: #ddd;
    overflow-x: hidden;
} 

a {
    text-decoration: none;
    color: inherit;
}

h2 {
    font-size: 3em;
    font-weight: 700;
    margin-bottom: 30px;
}

.container {
    width: 90%;
    margin: 0 auto;
}

/* Navbar */
/* .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 30px;
    background-color: #1a1a1a;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
} */

.navbar .logo {
    font-size: 1.8em;
    font-weight: 700;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 30px;
    background-color: #1a1a1a;
    color: white;
    display: flex;
    justify-content: flex-start; /* Alignement à gauche */
    align-items: center;
    z-index: 1000;
}

/* Burger Menu Style */
.burger-menu {
    display: none; /* Caché par défaut */
    cursor: pointer;
    flex-direction: column;
    gap: 5px;
    z-index: 1100;
    position: relative;
}

.burger-menu span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: white;
    border-radius: 2px;
    transition: all 0.3s ease;
}

/* Transition pour l'icône burger */
.burger-menu.active span:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}
.burger-menu.active span:nth-child(2) {
    opacity: 0;
}
.burger-menu.active span:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

/* Menu déroulant */
.nav-links {
    display: flex;
    gap: 30px;
    list-style: none;
    position: absolute;
    top: 50px; /* En dessous de la navbar */
    left: 30px; /* Aligner à gauche par rapport au burger */
    flex-direction: column;
    background-color: #1a1a1a;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    transform: scale(0); /* Initialement caché */
    transform-origin: top left;
    transition: transform 0.3s ease;
    
}

/* Afficher le menu lorsqu'il est actif */
.nav-links.active {
    transform: scale(1); /* Déploie le menu */
    opacity: 1;
}

/* Style des liens */
.nav-links li a {
    font-size: 1.2em;
    color: white;
    padding: 10px 0;
    text-align: center;
    transition: color 0.3s ease;
}

.nav-links li a:hover {
    color: #00bcd4;
}

/* Hero Section */
#hero {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: linear-gradient(135deg, rgba(0, 150, 255, 0.1), rgba(0, 0, 0, 0.5)), url('../image/hero.jpg') no-repeat center center/cover;
}

.hero-content h1 {
    font-size: 4.5em;
    color: #fff;
    font-weight: 700;
    animation: slideIn 1s ease-out;
}

.hero-content p {
    font-size: 1.5em;
    color: #fff;
    margin: 20px 0;
    opacity: 0;
    animation: fadeIn 2s ease-out forwards;
}

.cta-btn {
    padding: 12px 25px;
    background-color: #00bcd4;
    color: white;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.cta-btn:hover {
    background-color: #0097a7;
    transform: scale(1.1);
}

/* Canvas Background Animation */
#heroCanvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

/* About Section */
#about {
    padding: 100px 0;
    background-color: #1e1e1e;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.about-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.about-text {
    flex: 1;
    max-width: 600px;
}

.about-text h2 {
    font-size: 3em;
    color: #fff;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: 700;
}

.about-text p {
    color: #ddd;
    font-size: 1.2em;
    line-height: 1.5;
}

.about-photo {
    flex: 1;
    text-align: center;
}

.photo {
    width: 550px;
    height: 650px;
    object-fit: cover;
    border-radius: 10%;
    border: 5px solid #00bcd4;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
}

.photo:hover {
    transform: scale(1.1);
}


/* Projects Section */
#projects {
    padding: 100px 0;
    background-color: #252525;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Grille à 3 colonnes */
    gap: 30px;
}

.project-card {
    background-color: #333;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card img {
    width: 100%;
    height: 200px;
    object-fit: contain;
}

.project-card h3 {
    padding: 20px;
    color: #fff;
}

.project-card p {
    padding: 0 20px;
    color: #ccc;
}

.project-link {
    display: inline-block;
    padding: 12px 20px;
    margin: 20px;
    background-color: #00bcd4;
    color: white;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.project-card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

.project-link:hover {
    background-color: #0097a7;
}

/* Skills Section */
#skills {
    padding: 100px 0;
    background-color: #121212;
}

.skills-grid {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.skill {
    width: 22%;
}

.progress-bar {
    height: 8px;
    background-color: #b9cd03;
    border-radius: 5px;
    margin-top: 10px;
    width: 0;
    /* animation: progressBar 2s ease-out forwards; */
}

.skill h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #fff;
}


/* Contact Section */
#contact {
    padding: 100px 0;
    background-color: #252525;
}

.contact-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    text-align: center;
}

.contact-details,
.social-media {
    flex: 1;
    max-width: 400px;
}

.contact-details h3,
.social-media h3 {
    font-size: 2.2em;
    color: #00bcd4;
    margin-bottom: 20px;
    font-weight: 700;
}

.contact-details p,
.social-media li {
    color: #ddd;
    font-size: 1.2em;
}

.contact-details a,
.social-media a {
    color: #00bcd4;
    text-decoration: none;
    transition: color 0.3s ease;
}

.contact-details a:hover,
.social-media a:hover {
    color: #e9eff0;
}

.social-media ul {
    list-style: none;
    padding: 0;
}

.social-media li {
    margin: 15px 0;
}

.social-media a {
    font-size: 1.3em;
}

ul li a i {
    margin-right: 8px; /* Espacement entre l'icône et le texte */
    font-size: 20px;   /* Taille de l'icône */
    color: #00bcd4;       /* Couleur des icônes */
}


/* Footer */
footer {
    padding: 20px;
    text-align: center;
    background-color: #1a1a1a;
    color: #ddd;
}

/* Animations */
@keyframes slideIn {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes progressBar {
    100% {
        width: 100%;
    }
}

/* Responsive for smaller screens */
@media (max-width: 320px) {
    .navbar {
        flex-direction: column;
        align-items: center;
    }

    .nav-links {
        gap: 10px;
    }

    .hero-content h1 {
        font-size: 1.8em;
    }

    .hero-content p {
        font-size: 0.9em;
    }

    .projects-grid {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .skills-grid {
        flex-direction: column;
    }

    .skill {
        width: 100%;
    }

    footer {
        font-size: 0.8em;
    }
}

/* Petits téléphones (max-width: 480px) */
@media (max-width: 480px) {
    .navbar {
        padding: 10px 20px;
    }

    .hero-content h1 {
        font-size: 2.2em;
    }

    .hero-content p {
        font-size: 1em;
    }

    .about-container {
        flex-direction: column;
        gap: 20px;
    }

    .about-photo .photo {
        max-width: 300px;
    }

    .projects-grid {
        grid-template-columns: 1fr; /* Une colonne */
        gap: 20px; /* Réduit l'espacement entre les projets */
    }
}   

/* Tablettes (max-width: 768px) */
@media (max-width: 768px) {
    .navbar {
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 15px;
    }

    .burger-menu {
        display: flex; /* Afficher le menu burger */
        margin-right: 20px;
    }

    .nav-links {
        display: none; /* Cacher le menu par défaut */
    }

    .nav-links.active {
        display: flex; /* Afficher en mode actif */
    }

    .logo {
        margin-left: auto; /* Pousse le logo à droite du menu burger */
    }

    .hero-content h1 {
        font-size: 2.8em;
    }

    .hero-content p {
        font-size: 1.2em;
    }

    .project-card img {
        height: auto;
        width: 100%; /* Réduit la hauteur de l'image pour les petits écrans */
    }

    .about-container {
        flex-direction: column;
        gap: 30px;
        text-align: center;
    }

    .skills-grid {
        flex-direction: column;
        gap: 15px;
    }

    .skill {
        width: 80%;
    }

    .contact-info{
        flex-direction: column;
    }

    .social-media{
        margin-top: 30px;
    }

}

@media (min-width: 769px){
    .nav-links {
        display: flex; /* Toujours visible sur grands écrans */
        position: static; /* Position normale */
        flex-direction: row; /* Aligner les liens horizontalement */
        gap: 30px;
        background-color: transparent; /* Pas de fond */
        padding: 0;
        box-shadow: none;
        transform: none;
        opacity: 1;
        margin-left: auto; /* Aligne le menu à droite */
    }

    .burger-menu {
        display: none; /* Cacher l'icône burger */
    }

}

/* Petits ordinateurs (max-width: 1024px) */
@media (max-width: 1024px) {
    .hero-content h1 {
        font-size: 3.2em;
    }

    .hero-content p {
        font-size: 1.4em;
    }

    .about-photo .photo {
        max-width: 450px;
    }

    .skills-grid {
        gap: 20px;
    }
}

/* Grands écrans (max-width: 1440px) */
@media (max-width: 1440px) {

    .container {
        width: 80%;
    }

    .hero-content h1 {
        font-size: 4em;
    }

    .skills-grid {
        gap: 25px;
    }
}

/* Ultra larges écrans (min-width: 1441px) */
@media (min-width: 1441px) {

    .container {
        width: 70%;
    }

    .hero-content h1 {
        font-size: 5em;
    }

   
}

